.details-container {
  border-radius: 15px;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  top: 280px;
  width: 340px;
}

.img-container {
  width: 360px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 11px 18px -10px rgba(0, 0, 0, 0.795);
  text-align: center;
}

.img {
  border-radius: 15px;
  height: 240px;
  margin-top: 15px;
  width: 330px;
}

.title-icons-container {
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.title-icons-container h2, p{
  margin: 0;
  padding: 0;
}

.icons-container {
  display: flex;
  justify-content: space-between;
}

.icons-container input{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 11px 18px -10px rgba(0, 0, 0, 0.795);
  height: 35px;
  margin-left: 15px;
  padding: 5px;
  width: 35px;
}

.ing-display {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 11px 18px -10px rgba(0, 0, 0, 0.795);
  margin-top: 65px;
  padding: 5px;
}