.img-align {
  border-radius: 15px;
  height: 250px;
  width: 360px;
}

.title-icons-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
