div {
  max-width: 100vw;
}

.img-align {
  border-radius: 15px;
  height: 250px;
  width: 100vw;
}

.title-icons-container {
  display: flex;
  justify-content: space-between;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  right: 0;
}
