.recomendation-card {
  margin-right: 10px;
  padding: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 10px 15px -15px rgba(0, 0, 0, 0.795);
}

.recomendation-container {
  display: flex;
  overflow: scroll;
  height: 200px;
  padding-bottom: 10px;
}

.recomendation-image {
  border-radius: 15px;
  height: 150px;
  width: 170px;
}

.recomendation-card p {
  margin-top: 1px;
}
