.buttons-filter-display {
  margin-top: 58px;
}

.container-display {
  border-bottom: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 0 11px 18px -18px rgba(0, 0, 0, 0.795);
  margin-bottom: 10px;
  padding: 15px;
}

.container-display:last-child {
  border: none;
  box-shadow: 0 11px 18px -18px rgba(0, 0, 0, 0.795);
}

.favorites-display {
  margin-bottom: -82px;
  margin-top: 82px;
}

.img-display {
  height: 120px;
  width: 160px;
}

.icons-favorites-page {
  background-color: rgba(26, 15, 15, 0.61);
  border-radius: 15px;
  box-shadow: 0 11px 18px -10px rgba(0, 0, 0, 0.795);
  height: 30px;
  margin-right: 0px;
  padding: 7px;
  width: 30px;
}

h3 {
  margin: 0 0 0 10px;
}

a {
  color: rgb(73, 72, 72);
  text-decoration: none;
}
