.recomendation-container {
  display: flex;
  height: 180px;
  margin-top: 10px;
  overflow-x: scroll;
  padding-bottom: 10px;
  width: 340px;
}

.recomendation-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 15px -15px rgba(0, 0, 0, 0.795);
  margin-right: 15px;
}

.recomendation-card p {
  margin: 0;
  padding-left: 5px;
}

.recomendation-image {
  border-radius: 15px;
  height: 148px;
  width: 160px;
}
