/* .container-display {
  border: 1px solid black;
} */

.img-display {
  border-radius: 10px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.562);
  height: 120px;
  width: 160px;
}

.item-overflow {
  display: flex;
  flex-wrap: wrap;
  height: 420px;
  justify-content: space-between;
  margin-top: 140px;
  overflow-y: scroll;
  padding: 0 12px;
}

h3 {
  margin: 0;
  padding: 0;
}
