.container-display {
  height: 172px;
  width: 161px;
}

.img-display {
  height: 109px;
  width: 161px;
}

.item-overflow {
  display: grid;
  grid-template-columns: 170px 1fr;
  height: 400px;
  margin-left: 12px;
  margin-top: 161px;
  overflow-y: scroll;
}
