.search-bar {
  border-bottom: none;
  border-left: none;
  border-right: 1px solid lightgray;
  border-top: none;
  box-sizing: border-box;
  height: 35px;
  left: 12px;
  position: absolute;
  top: 60px;
  width: 280px;
}

.search-bar:focus {
  border: none;
}

.search-btn-container {
  height: 35px;
  left: 293px;
  position: absolute;
  top: 60px;
  width: 60px;
}

.search-btn-display {
  background: none;
  border: none;
  color: rgb(70, 70, 70);
  height: 35px;
  width: 60px;
}

.radio-btn-container {
  box-sizing: border-box;
  color: rgb(70, 70, 70);
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  top: 97px;
  width: 350px;
}

.radio-btn {
  bottom: 3px;
  height: 15px;
  position: relative;
  width: 15px;
}
