.header {
  height: 58px;
  left: 0;
  position: fixed;
  top: 0;
  width: 360px;
}

.title {
  left: 80px;
  position: absolute;
  top: 10px;
  width: 200px;
}

.title p {
  color: #333;
  font-family: Yellowtail, cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 200px;
}

.profile-icon {
  align-self: center;
  border-radius: 10px;
  height: 35px;
  left: 15px;
  position: absolute;
  top: 12px;
  width: 35px;
}

.search-icon {
  align-self: center;
  border: none;
  height: 30px;
  left: 317px;
  position: absolute;
  top: 12px;
  width: 30px;
}
