.filter-div {
  display: flex;
  flex-wrap: wrap;
  height: 75px;
  justify-content: space-around;
  left: 0;
  padding-top: 5px;
  position: absolute;
  top: 58px;
  width: 360px;
}

.category-filter-btn {
  background: white;
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 5px 18px -10px rgba(0, 0, 0, 0.795);
  font-size: 11px;
  margin-bottom: 8px;
  text-align: center;
  width: 110px;
}
