.footer-container {
  height: 58px;
  left: 0;
  position: fixed;
  top: 582px;
  width: 360px;
}

.drink-icon {
  height: 40px;
  left: 10px;
  position: absolute;
  width: 40px;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 11px 18px -10px rgba(0, 0, 0, 0.795);
}

.explore-icon {
  height: 40px;
  left: 154px;
  position: absolute;
  width: 40px;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 11px 18px -10px rgba(0, 0, 0, 0.795);
}

.meal-icon {
  height: 40px;
  left: 296px;
  position: absolute;
  width: 40px;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 11px 18px -10px rgba(0, 0, 0, 0.795);
}
