.drink-icon { 
  background: url('../../images/drinkIcon.svg');
  border: none;
  width: 40px;
  height: 40px;
}

.explore-icon { 
  background: url('../../images/exploreIcon.svg');
  border: none;
  width: 40px;
  height: 40px;
}

.meal-icon { 
  background: url('../../images/mealIcon.svg');
  border: none;
  width: 40px;
  height: 40px;
}
