.header {
  background: #c4c4c4;
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.title {
  align-items: center;
  color: black;
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  height: 35px;
  left: 123px;
  line-height: 35px;
  position: absolute;
  top: 12px;
  width: 119px;
}

.profile-icon {
  align-self: center;
  background: url('../images/profileIcon.svg');
  border: none;
  height: 30px;
  left: 15px;
  position: absolute;
  top: 12px;
  width: 30px;
}

.search-icon {
  align-self: center;
  background: url('../images/searchIcon.svg');
  border: none;
  height: 30px;
  left: 317px;
  position: absolute;
  top: 12px;
  width: 30px;
}

.search-bar {
  background: white;
  border: 1px solid black;
  bottom: 85%;
  box-sizing: border-box;
  left: 1.5%;
  position: absolute;
  right: 1.5%;
  top: 9.5%;
  width: 350px;
}
