.container-display {
  background-color: rgba(172, 148, 116, 0.418);
  border-bottom: 1px solid lightgray;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 15px;
}

.img-display {
  height: 120px;
  width: 160px;
}

.item-overflow {
  box-shadow: 0 11px 18px -18px rgba(0, 0, 0, 0.795);
  display: flex;
  flex-direction: column;
  height: 410px;
  overflow-y: scroll;
  padding: 10px 12px;
  position: absolute;
  top: 143px;
  width: 320px;
}

h3 {
  margin: 0 0 0 10px;
}

a {
  color: rgb(73, 72, 72);
  text-decoration: none;
}
